//
//  ReleaseConfig.xcconfig
//  GitWorld
//
//  Created by Jiaxin Pu on 2024/3/15.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-GitWorld/Pods-GitWorld.release.xcconfig"

APP_NAME = GitWorlRelease
